<!-- Channel Details -->
<div class="panel panel-info">
	<div class="panel-heading">Channel Details</div>	
		<table class="table table-striped table-hover">
		<tbody>
			<tr>
				<td><b>Id:</b></td>
				<td>{{channelDetail.id}}</td>
			</tr>
			
			<tr>
				<td><b>Youtube-Id:</b></td>
				<td>{{channelDetail.youtubeId}}</td>
			</tr>
			
			<tr>
				<td><b>Name:</b></td>
				<td>{{channelDetail.name}}</td>
			</tr>
			
			<tr>
				<td><b>Paypal-Id:</b></td>
				<td>{{channelDetail.paypalId}}</td>
			</tr>
			
			<tr>
				<td><b>Full-Name:</b></td>
				<td>{{channelDetail.fullName}}</td>
			</tr>
			
			<tr>
				<td><b>Email-Id:</b></td>
				<td>{{channelDetail.email}}</td>
			</tr>
			
			<tr>
				<td><b>Video-Count:</b></td>
				<td>{{channelDetail.videoCount}}</td>
			</tr>
			
			<tr>
				<td><b>View-Count:</b></td>
				<td>{{channelDetail.viewCount}}</td>
			</tr>
			
			<tr>
				<td><b>Subscriber-Count:</b></td>
				<td>{{channelDetail.subscriberCount}}</td>
			</tr>
			
			
			<tr>
				<td><b>Category-Code:</b></td>
				<td>{{channelDetail.categoryCode}}</td>
			</tr>
			
			<tr>
				<td><b>Network-Code:</b></td>
				<td>{{channelDetail.networkCode}}</td>
			</tr>
			
			<tr>
				<td><b>Status-Code:</b></td>
				<td>{{channelDetail.statusCode}}</td>
			</tr>
			
			<tr>
				<td><b>Recruiter-Code:</b></td>
				<td>{{channelDetail.recruiterCode}}</td>
			</tr>
				
			<tr>
				<td><b>Copyright-Standing:</b></td>
				<td>{{channelDetail.copyrightStanding}}</td>
			</tr>
			
			<tr>
				<td><b>Community-Guidelines:</b></td>
				<td>{{channelDetail.communityGuidelines}}</td>
			</tr>
			
			<tr>
				<td><b>Content-Id-Standing:</b></td>
				<td>{{channelDetail.contentIdStanding}}</td>
			</tr>
			
			
			<tr>
				<td><b>Youtube-Screenshot-Link:</b></td>
				<td>{{channelDetail.youtubeScreenshotLink}}</td>
			</tr>
			
			<tr>
				<td><b>Created Date:</b></td>
				<td>{{channelDetail.created| date:'dd-MMM-yyyy hh:mm a' : 'GMT+0530'}}</td>
			</tr>
			
			<tr>
				<td><b>Updated Date:</b></td>
				<td>{{channelDetail.updated| date:'dd-MMM-yyyy hh:mm a' : 'GMT+0530'}}</td>
			</tr>
		</tbody>
	</table>			
</div>