<div class="col-md-4 col-md-offset-2" >
	<div data-ng-init="init()"> 
		<form role="frmLogin" name="frmLogin" >
			<div class="panel ">
				<div class="panel-body">
					<div class="row">
						<div class="row">
							<div class="input-field col s12 center">
							  <img src="admin/resources/images/ping-network-logo.png" alt="Logo" style="width:150px;margin-top:5px;height:60px;" >
							</div>
       					</div>
						<div class="form-group col-md-12">	
							<div ng-repeat="error in errors" style="color:red">{{error}}</div>
							<div class="input-group margin-bottom-sm">
								<span class="input-group-addon"><i class="fa fa-user fa-lg"></i></span>
								<input class="form-control" name="userName" data-ng-model="userLogin.userName" placeholder="User-Name"/>
							</div>
							<div class="input-group margin-bottom-sm">
								<span class="input-group-addon"><i class="fa fa-key fa-lg"></i></span>
								<input type="password" class="form-control" name="password" data-ng-model="userLogin.password" placeholder="Password"/>
							</div>
							<div class="row">          
								<div class="input-field col s12 m12 l12  login-text">
								    <input type="checkbox" id="remember-me" />
								    <label for="remember-me">Remember me</label>
								</div>
      						</div>
						</div>  
					</div>
					<div class="row" align="center">
						<div >
							<a style="color:white" class="btn waves-effect waves-light blue" data-ng-click="login()" >Login</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>